@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root ,
.app{
    height: 100%;
    width: 100%;
    @apply text-sm;
    @apply bg-gray-500;
    @apply text-gray-900;
}

/* responsive grid*/
@media (min-width: 768px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8 , 20vh);
  }
}

/* responsive grid*/
@media (min-width: 1280px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8 , 7.5vh);
  }
}

/* ซ่อน Scrollbar */
.scrollbar-container {
  overflow: auto; /* ยังคงให้เนื้อหาเลื่อนได้ */
  scrollbar-width: none; /* สำหรับ Firefox */
  -ms-overflow-style: none; /* สำหรับ IE และ Edge */
}

.scrollbar-container::-webkit-scrollbar {
  display: none; /* สำหรับ Chrome, Safari และ Edge (ใหม่) */
}